<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table class="table">
  <tbody>
    <tr>
      <td>Diagonal</td>
      <td>{{ product.diagonal }}</td>
    </tr>
      <tr>
      <td>Display</td>
      <td>{{ product.display }}</td>
    </tr>
      <tr>
      <td>Resolution</td>
      <td>{{ product.resolution }}</td>
    </tr>
      <tr>
      <td>Acumulator</td>
      <td>{{ product.accum_volume }}</td>
    </tr>
      <tr>
      <td>SD</td>
      <td>{{ product.sd }}</td>
    </tr>
    <tr>
      <td>Max volume sd</td>
      <td>{{ product.sd_volume_max }}</td>
    </tr>
    <tr>
      <td>Main camera</td>
      <td>{{ product.main_can_mp }}</td>
    </tr>
    <tr>
      <td>Frontal camera</td>
      <td>{{ product.frontal_can_mp }}</td>
    </tr>
  </tbody>
</table>
</body>
</html>

